[user]
	name = gnaagar
	email = 39589847+gnaagar@users.noreply.github.com

[core]
  autocrlf = false

[diff]
  tool = nvimdiff

[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE"

[difftool]
  prompt = false

[pull]
  rebase = true

